@use "../../scss/base/vars" as *;

.about {
  margin-bottom: adaptive-value(60, 30);

  &__inner {
    position: relative;
    padding: adaptive-value(60, 30) 0;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: adaptive-value(30, 20);
    align-items: center;
    margin-bottom: adaptive-value(60, 30);
    &:last-child {
      margin-bottom: unset;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: adaptive-value(545, 240);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &--long {
      border-radius: 10rem;
      overflow: hidden;
      height: adaptive-value(400, 240);
      min-height: unset;
      margin-bottom: adaptive-value(60, 30);
      &:last-child {
        margin-bottom: unset;
      }
      img {
        object-fit: cover;
      }
    }

    &--mobile {
      display: none;
    }
  }

  &__content {
  }

  &__context {
    margin-bottom: adaptive-value(60, 30);
    &:last-child {
      margin-bottom: unset;
    }
  }

  &__text {
    font-size: adaptive-value(20, 14);
    line-height: adaptive-value(34, 20);
    color: $color-text;
    margin-bottom: adaptive-value(30, 20);
    &:last-child {
      margin-bottom: unset;
    }
  }
}

@media (max-width: 992px) {
  .about {
    &__body {
      grid-template-columns: 1fr;
    }
    &__titling {
      order: -1;
    }
    &__img {
      min-height: adaptive-value(545, 240);
      height: adaptive-value(545, 240);

      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
        margin-bottom: adaptive-value(30, 20);
        &:last-child {
          margin-bottom: unset;
        }
      }
    }
  }
}
