<section class="steps">
  <div class="container">
    <div class="steps__inner">
      <div class="steps__decor-line decor-line decor-line--top"></div>
      <div class="steps__titling titling" data-aos="fade-right">
        <h2 class="titling__title">
          Этапы работы
        </h2>
      </div>
      <ul class="steps__list">
        <li class="steps__item">
          <div class="steps__digit" data-aos="fade-up">
            <div class="steps__digit-number"></div>
            <div class="steps__digit-subtext">этап</div>
          </div>
          <div class="steps__body">
            <div class="steps__context">
              <p class="steps__text" data-aos="fade-right">
                Онлайн платформа DDR-PRO позволяет вести и консолидировать все отчеты по бурению, заканчиванию и
                капитальному ремонту скважин в облачной базе данных.
              </p>
              <p class="steps__text" data-aos="fade-right">
                С целью повысить эффективность управления производственными процессами DDR-PRO автоматически формирует
                дэшборды, содержащие краткий и информативный обзор операций по бурению и КРС на месторождении. А также
                является KPI инструментом для анализа и принятия эффективных решений.
              </p>
              <p class="steps__text" data-aos="fade-right">
                DDR-PRO служит облачным центром для документов, отчетов и различных данных полученных в ходе
                строительства или ремонта скважины.
              </p>
            </div>
          </div>
        </li>
        <li class="steps__item">
          <div class="steps__digit" data-aos="fade-up">
            <div class="steps__digit-number"></div>
            <div class="steps__digit-subtext">этап</div>
          </div>
          <div class="steps__body">
            <div class="steps__context">
              <p class="steps__text" data-aos="fade-right">
                Онлайн платформа DDR-PRO позволяет вести и консолидировать все отчеты по бурению, заканчиванию и
                капитальному ремонту скважин в облачной базе данных.
                С целью повысить эффективность управления производственными процессами DDR-PRO автоматически формирует
                дэшборды, содержащие краткий и информативный обзор операций по бурению и КРС на месторождении. А также
                является KPI инструментом для анализа и принятия эффективных решений.
              </p>
            </div>
            <picture class="steps__img" data-aos="zoom-in">
              <img src="images/steps-img-1.jpg" alt="img">
            </picture>
          </div>
        </li>
        <li class="steps__item">
          <div class="steps__digit" data-aos="fade-up">
            <div class="steps__digit-number"></div>
            <div class="steps__digit-subtext">этап</div>
          </div>
          <div class="steps__body">
            <div class="steps__context">
              <p class="steps__text" data-aos="fade-right">
                Онлайн платформа DDR-PRO позволяет вести и консолидировать все отчеты по бурению, заканчиванию и
                капитальному ремонту скважин в облачной базе данных.
                С целью повысить эффективность управления производственными процессами DDR-PRO автоматически формирует
                дэшборды, содержащие краткий и информативный обзор операций по бурению и КРС на месторождении. А также
                является KPI инструментом для анализа и принятия эффективных решений.
              </p>
            </div>
          </div>
        </li>
        <li class="steps__item">
          <div class="steps__digit" data-aos="fade-up">
            <div class="steps__digit-number"></div>
            <div class="steps__digit-subtext">этап</div>
          </div>
          <div class="steps__body">
            <div class="steps__context">
              <p class="steps__text" data-aos="fade-right">
                Онлайн платформа DDR-PRO позволяет вести и консолидировать все отчеты по бурению, заканчиванию и
                капитальному ремонту скважин в облачной базе данных.
              </p>
            </div>
            <picture class="steps__img" data-aos="zoom-in">
              <img src="images/steps-img-2.jpg" alt="img">
            </picture>
            <div class="steps__context">
              <p class="steps__text" data-aos="fade-right">
                Онлайн платформа DDR-PRO позволяет вести и консолидировать все отчеты по бурению, заканчиванию и
                капитальному ремонту скважин в облачной базе данных.
                С целью повысить эффективность управления производственными процессами DDR-PRO автоматически формирует
                дэшборды, содержащие краткий и информативный обзор операций по бурению и КРС на месторождении. А также
                является KPI инструментом для анализа и принятия эффективных решений.
              </p>
            </div>
            <div class="steps__wrap" data-aos="fade-right">
              <a class="steps__link btn btn--blue" href="#">Заказать услугу</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>