<section class="heading">
  <picture class="heading__img">
    <img src="images/heading-img.jpg" alt="img" data-aos="zoom-out">
  </picture>
  <div class="container">
    <div class="heading__inner">
      <div class="heading__titling titling titling--big" data-aos="fade-right">
        <h1 class="titling__title">
          Строительство скважин и инжиниринг
        </h1>
        <p class="titling__text">
          Онлайн платформа DDR-PRO позволяет вести и консолидировать все отчеты по бурению, заканчиванию и капитальному
          ремонту скважин в облачной базе данных.
        </p>
      </div>
      <div class="heading__wrap" data-aos="fade-right">
        <a class="heading__link btn btn--blue" href="#">
          Заказать консультацию
        </a>
      </div>
    </div>
  </div>
</section>