@use "base/vars" as *;

html,
body {
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: $color-white;
}

.container {
  width: 100%;
  padding: 0 15rem;
  max-width: 1550rem;
  margin: 0 auto;
}

.big-container {
  width: 100%;
  padding: 0 15rem;
  max-width: 1920rem;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.decor-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1rem;
  background: $color-background-second;
  &::before {
    content: "";
  }
  &::after {
    content: "";
  }
  &--top {
    top: 0;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      width: 0;
      height: 0;
      transform: translateY(-50%);
    }

    &::before {
      left: 0;
      border-top: 3rem solid transparent;
      border-bottom: 3rem solid transparent;
      border-left: 6rem solid $color-background-second;
    }

    &::after {
      right: 0;
      border-top: 3rem solid transparent;
      border-bottom: 3rem solid transparent;
      border-right: 6rem solid $color-background-second;
    }
  }
  &--dim {
    opacity: 20%;
  }
}

.titling {
  margin-bottom: adaptive-value(30, 20);
  &:last-child {
    margin-bottom: unset;
  }
  &--big {
    .titling__title {
      font-size: adaptive-value(80, 32);
      line-height: adaptive-value(97, 40);
      margin-bottom: adaptive-value(10, 5);
      &:last-child {
        margin-bottom: unset;
      }
    }
  }

  &--white {
    .titling__title,
    .titling__text {
      color: $color-text-second;
    }
  }

  &__title {
    color: $color-text;
    font-weight: 700;
    margin-bottom: adaptive-value(30, 20);
    font-size: adaptive-value(60, 32);
    line-height: adaptive-value(73, 40);
    text-transform: uppercase;
    &:last-child {
      margin-bottom: unset;
    }
  }

  &__text {
    font-size: adaptive-value(20, 14);
    line-height: adaptive-value(34, 20);
    color: $color-text;
    margin-bottom: adaptive-value(30, 20);
    &:last-child {
      margin-bottom: unset;
    }
  }
}

.btn {
  border-radius: 4rem;
  font-size: adaptive-value(16, 14);
  line-height: adaptive-value(19, 16);
  font-weight: 700;
  padding: adaptive-value(20, 16) adaptive-value(40, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;

  &--small {
    padding: adaptive-value(12, 8) adaptive-value(30, 20);
  }
  &--blue {
    background-image: linear-gradient(
      85.84deg,
      $color-brand-primary 0%,
      $color-brand-accent 100.99%
    );
    background-size: 150% 100%;
    background-position: left center;
    transition: background-position 0.3s;
    color: $color-text-second;
    &:hover {
      background-position: right center;
    }
  }
}

.logo {
  display: block;
  width: adaptive-value(195, 140);
  min-width: adaptive-value(195, 140);
  height: adaptive-value(58, 40);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30rem;
}

.arrow {
  width: adaptive-value(60, 40);
  min-width: adaptive-value(60, 40);
  height: adaptive-value(60, 40);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background: $color-white;
  box-shadow: 0rem 9rem 5rem $color-card-shadow;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  svg {
    width: adaptive-value(24, 16);
    height: adaptive-value(24, 16);
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: adaptive-value(10, 5);
  .swiper-pagination-bullet {
    margin-left: unset !important;
    margin-right: unset !important;
    width: adaptive-value(10, 7);
    height: adaptive-value(10, 7);
    border-radius: 100%;
    background: linear-gradient(
      85.84deg,
      $color-brand-primary 0%,
      $color-brand-accent 100.99%
    );
    opacity: 30%;
    transition: opacity 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 100%;
    }
  }
  .swiper-pagination-bullet-active {
    opacity: 100%;
  }
  &--certificates {
  }
}
