<section class="services">
  <div class="container">
    <div class="services__inner">
      <div class="services__decor-line decor-line decor-line--top"></div>
      <div class="services__titling titling" data-aos="fade-right">
        <h2 class="titling__title">
          Услуги
        </h2>
      </div>
      <div class="services__items">
        <a class="services__item" href="#" data-aos="zoom-in">
          <picture class="services__img">
            <img src="images/services-img-1.jpg" alt="img">
          </picture>
          <h5 class="services__title">
            Строительство скважин и инжиниринг
          </h5>
        </a>
        <a class="services__item" href="#" data-aos="zoom-in">
          <picture class="services__img">
            <img src="images/services-img-2.jpg" alt="img">
          </picture>
          <h5 class="services__title">
            IPM в бурении
          </h5>
        </a>
        <a class="services__item" href="#" data-aos="zoom-in">
          <picture class="services__img">
            <img src="images/services-img-3.jpg" alt="img">
          </picture>
          <h5 class="services__title">
            Управление активами
          </h5>
        </a>
        <a class="services__item" href="#" data-aos="zoom-in">
          <picture class="services__img">
            <img src="images/services-img-4.jpg" alt="img">
          </picture>
          <h5 class="services__title">
            Управление поставками
          </h5>
        </a>
        <a class="services__item" href="#" data-aos="zoom-in">
          <picture class="services__img">
            <img src="images/services-img-5.jpg" alt="img">
          </picture>
          <h5 class="services__title">
            Технический аудит и тренинги
          </h5>
        </a>
        <a class="services__item" href="#" data-aos="zoom-in">
          <picture class="services__img">
            <img src="images/services-img-6.jpg" alt="img">
          </picture>
          <h5 class="services__title">
            Разработка программного обеспечения
          </h5>
        </a>
      </div>
    </div>
  </div>
</section>