<section class="advantages">
  <div class="container">
    <div class="advantages__inner">
      <div class="advantages__decor-line decor-line decor-line--top"></div>
      <div class="advantages__titling titling" data-aos="fade-right">
        <h2 class="titling__title">
          Преимущества
        </h2>
      </div>
      <div class="advantages__items">
        <div class="advantages__item" data-aos="zoom-in">
          <picture class="advantages__icon">
            <img src="images/advantages-icon-1.svg" alt="icon">
          </picture>
          <div class="advantages__wrapper">
            <p class="advantages__text">
              Эффективная ежедневная отчетность, описание всех работ и процессов, проводимых на буровой площадке в
              режиме онлайн.
            </p>
            <p class="advantages__text">
              Основан на подходе “Преобразование ежедневных отчетов в знания”.
            </p>
          </div>
        </div>
        <div class="advantages__item" data-aos="zoom-in">
          <picture class="advantages__icon">
            <img src="images/advantages-icon-2.svg" alt="icon">
          </picture>
          <div class="advantages__wrapper">
            <p class="advantages__text">
              Доступ с любого интернет устройства 24/7 неограниченного для числа пользователей на английском, русском и
              казахском языках.
            </p>
            <p class="advantages__text">
              Никаких сборов за лицензию пользователя, обновление или обслуживание. Концепция SaaS.
            </p>
          </div>
        </div>
        <div class="advantages__item" data-aos="zoom-in">
          <picture class="advantages__icon">
            <img src="images/advantages-icon-3.svg" alt="icon">
          </picture>
          <div class="advantages__wrapper">
            <p class="advantages__text">
              Простой интуитивно-понятный интерфейс, разработанный совместно с опытными инженерами по бурению.
            </p>
          </div>
        </div>
        <div class="advantages__item" data-aos="zoom-in">
          <picture class="advantages__icon">
            <img src="images/advantages-icon-4.svg" alt="icon">
          </picture>
          <div class="advantages__wrapper">
            <p class="advantages__text">
              KPI инструменты для инженеров и руководителей в сфере бурения иКРС.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>