<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo logo" href="#" data-aos="fade">
        <img src="images/logo.svg" alt="logo">
      </a>
      <div class="header__wrapper">
        <div class="header__langs langs" data-aos="fade">
          <ul class="langs__list langs-list">
            <li class="langs-list__item langs-item">
              <a class="langs-item__link" href="#">
                KZ
              </a>
            </li>
            <li class="langs-list__item langs-item langs-item--active">
              RU
            </li>
            <li class="langs-list__item langs-item">
              <a class="langs-item__link" href="#">
                EN
              </a>
            </li>
          </ul>
        </div>
        <nav class="header__menu menu" data-aos="fade">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">
                О компании
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Услуги
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
        <div class="header__wrap" data-aos="fade">
          <a class="header__link btn btn--blue btn--small" href="#">
            <span>
              Личный кабинет
            </span>
          </a>
        </div>
      </div>
      <div class="header__burger" data-aos="fade">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>